@import "null.css";

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

body {
	font-family: "Lato", "sens-serif";
	font-weight: 400;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: seagreen;
}

.game-img source,
img {
	display: inline-block;
	max-width: 500px;
	max-height: 500px;
	margin-left: 350px;
	margin-bottom: 20px;
}

.image-text {
	font-size: 35px;
	font-weight: 700;
	display: block;
	max-width: 750px;
	margin: 0 auto;
}

.image-text::after {
	content: "";
	background-color: red;
	height: 3px;
	width: 97%;
	display: block;
	margin: 5px 0 0 0;
}

.line-1 {
	background-color: crimson;
	width: 50px;
	height: 50px;
	margin: 30px 0 0 30px;
}

.line-2 {
	width: 800px;
	height: 50px;
	background-color: gray;
	margin-left: 30px;
	visibility: hidden;
}

.line-3 {
	background-color: sienna;
	width: 40px;
	height: 500px;
	margin-left: 790px;
	visibility: hidden;
}

.line-4 {
	background: black;
	width: 300px;
	height: 35px;
	margin-left: 530px;
	visibility: hidden;
}

.line-5 {
	background: blue;
	width: 200px;
	height: 30px;
	margin-left: 330px;
	margin-top: -35px;
	visibility: hidden;
}

.line-6 {
	width: 25px;
	height: 300px;
	background: purple;
	margin-left: 330px;
	margin-top: -300px;
	visibility: hidden;
}

.line-7 {
	width: 150px;
	height: 20px;
	background-color: red;
	margin: -300px 0 0 180px;
	visibility: hidden;
}

.line-8 {
	background-color: wheat;
	height: 500px;
	width: 17px;
	margin-left: 180px;
	visibility: hidden;
}

.line-9 .image {
	visibility: hidden;
	max-width: 600px;
	max-height: 600px;
	display: inline-block;
	margin: auto 0 0 0;
	padding-left: 100px;
	/* margin-bottom: 40px; */
}

.text-image-2 {
	font-size: 35px;
	color: white;
	margin: -100px 0 100px 120px;
	font-weight: 700;
	visibility: hidden;
}

.line-1:hover + .line-2,
.line-2:hover {
	visibility: visible;
}
.line-2:hover + .line-3,
.line-3:hover {
	visibility: visible;
}

.line-3:hover + .line-4,
.line-4:hover {
	visibility: visible;
}

.line-4:hover + .line-5,
.line-5:hover {
	visibility: visible;
}

.line-5:hover + .line-6,
.line-6:hover {
	visibility: visible;
}

.line-6:hover + .line-7,
.line-7:hover {
	visibility: visible;
}

.line-7:hover + .line-8,
.line-8:hover {
	visibility: visible;
}

.line-8:hover + .line-9 .image,
.line-9:hover .image:hover {
	visibility: visible;
}

.line-9:hover .image:hover + .text-image-2,
.text-image-2:hover {
	visibility: visible;
}
